# This is the config file for everything that this bot will use
# Remove ".example" from this file's name to be able to use this config

[botConfig]
token = "example"
# This is a long of the DSharpPlus.DiscordIntents enum
intents = 0

    [botConfig.activity]
    name = "Hello, world!"
    # This is a long of the DSharpPlus.Entities.ActivityType enum
    type = 0
    
    [botConfig.commands]
    prefix = "!!"
    enableMention = true
    enableDms = true
    
[rconConfig]
    [[rconConfig.servers]]
    name = "server"
        [rconConfig.servers.info]
        ip = "127.0.0.1"
        port = 25575
        password = "password"